<!DOCTYPE html>

<html lang="en">
<head>
  <title>Store Manger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="shortcut icon" href="image/cart_r.png" type="image/png"/>
</head>
<body>

  <header>
    <div class="top_div">
      <h2>Store Manager</h2>
    </div>
    <nav>
      <ul class="grid-container-four">
        <li class="background-color-primary"> <a href='/attendants'>Users</a></li>
        <li class="background-color-primary"> <a href='/sales_record_admin'>Sales Record</a></li>
        <li class="background-color-primary"> <a href='/products_admin'>Products</a></li>
        <li class="background-color-primary"> <a href='/index'>Log out</a></li>
        
      </ul>
    </nav>
  
	
  </header>
  <section>
    <h1>User</h1>
    
      

       <div class="div_center">
            <label>Name:</label><span>Obikobe Amaobi</span><br>
            <label>Date Of Employment:</label><span>27-06-2018</span><br>
            <label>Number of Sales Record:</label><span>264</span><br>
            <label>Number of Products Sold:</label><span>54</span><br>
            <label>Worth of goods:</label><span>&#8358;200000</span><br>
            <label>Most Goods Sold:</label><span>Cocacola</span>
            <div> <button class="button_text remove_bookmark" id="">Deactivate</button><button class="button_text admin " id="">Grant Admin</button></div>
          </div>
          
    <br>
    

    
  </section>
  <footer class="background-color-primary">&copy; 2018</footer>


</body>
</html>

