<!DOCTYPE html>
<html lang="en">
<head>
  <title>Store Manager</title>
  <meta charset="utf-8">
  
  
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="shortcut icon" href="/image/cart_r.png" type="image/png">
</head>
<body>

  
    <header>
    <div class="top_div">
      <h2>Store Manager</h2>
    </div>
    <nav>
      <ul class="grid-container-four">
        <li class="background-color-primary"> <a href='/attendants'>Users</a></li>
        <li class="background-color-primary"> <a href='/sales_record_admin'>Sales Record</a></li>
        <li class="background-color-primary"> <a href='/products_admin'>Products</a></li>
        <li class="background-color-primary"> <a href='/index'>Log out</a></li>
        
      </ul>
    </nav>
  
  
  </header>
  <section>
    
      <h1>Users</h1>

       <div class="div_center">
        <h5>Create New User</h5>
        <form id="" action="http://localhost:3000/user" method="POST">
          <input type="text" id="username" name="username" placeholder="USERNAME"><br>
          <input type="password" id="password" name="password" placeholder="PASSWORD"><br>
          <button type="submit" class="background-color-primary button_text create_user">Create User</button>
        </form>

      


    </div>
    
    


    <table>
      <thead><tr><td>Name</td><td>Number</td><td>Worth</td><td>Quantity Sold</td></tr></thead>
      <tbody>
          <tr><td><a href="attendant.html">Obikobe Amaobi</a></td><td>786866</td><td>78789797</td><td>98779879</td></tr>
          <tr><td><a href="attendant.html">Obikobe Amaobi</a></td><td>786866</td><td>78789797</td><td>98779879</td></tr>
          <tr><td><a href="attendant.html">Obikobe Amaobi</a></td><td>786866</td><td>78789797</td><td>98779879</td></tr>
          <tr><td><a href="attendant.html">Obikobe Amaobi</a></td><td>786866</td><td>78789797</td><td>98779879</td></tr>
          <tr><td><a href="attendant.html">Obikobe Amaobi</a></td><td>786866</td><td>78789797</td><td>98779879</td></tr>
          <tr><td><a href="attendant.html">Obikobe Amaobi</a></td><td>786866</td><td>78789797</td><td>98779879</td></tr>


          
      </tbody>
    </table>

  </section>
  <footer class="background-color-primary">&copy; 2018</footer>


</body>
</html>

