<!DOCTYPE html>

<html lang="en">
<head>
  <title>Store Manger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="shortcut icon" href="image/cart_r.png" type="image/png"/>
</head>
<body>

  <header>
    <div class="top_div">
      <h2>Store Manager</h2>
    </div>
    <nav>
      <ul class="grid-container-four">
        <li class="background-color-primary"> <a href='/attendants'>Users</a></li>
        <li class="background-color-primary"> <a href='/sales_record_admin'>Sales Record</a></li>
        <li class="background-color-primary"> <a href='/products_admin'>Products</a></li>
        <li class="background-color-primary"> <a href='/index'>Log out</a></li>
        
      </ul>
    </nav>
  
  
  </header>
  <section>

    <h1>Category</h1>
    
      
      
    <table>
      <thead><tr><td >ID:</td><td>Name</td></tr></thead>
      <tbody>
         
          <tr><td>1</td><td>Cosmetics1</td><td><button class="trash"></button></td></tr>
          <tr><td>2</td><td>Cosmetics2</td><td><button class="trash"></button></td></tr>
          <tr><td>3</td><td>Cosmetics3</td><td><button class="trash"></button></td></tr>
          <tr><td>4</td><td>Cosmetics4</td><td><button class="trash"></button></td></tr>
          
          
      </tbody>
    </table>

  </section>
  <footer class="background-color-primary">&copy; 2018</footer>


</body>
</html>

