<!DOCTYPE html>

<html lang="en">
<head>
  <title>Store Manger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="shortcut icon" href="image/cart_r.png" type="image/png"/>
</head>
<body>

  <header>
    <div class="top_div">
      <h2>Store Manager</h2>
    </div>
    <nav>
      <ul class="grid-container-four">
        <li class="background-color-primary"> <a href='/attendants'>Users</a></li>
        <li class="background-color-primary"> <a href='/sales_record_admin'>Sales Record</a></li>
        <li class="background-color-primary"> <a href='/products_admin'>Products</a></li>
        <li class="background-color-primary"> <a href='/index'>Log out</a></li>
        
      </ul>
    </nav>
  
  
  </header>
  <section>
    
      <h1>Records</h1>
      
    <select class="filter">
      <option value="value">All</option>
      <option value="value">Obikobe Amaobi</option>
      <option value="value">Aduchie Amanda</option>
      <option value="value">Ola Aina</option>
      <option value="value">Hassan Tijani</option>
    
    </select>

    <table>
      <thead><tr><td >Transaction ID:</td><td>Product</td><td>Unit Price</td><td>Quantity</td><td colspan="2">Total Price(&#8358;)</td></tr></thead>
      <tbody>
         
          <tr><td rowspan="3">CS1234 <br> <a href="attendant.html">(Obikobe Amaobi)</a></td><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td colspan="4">Total</td><td >&#8358;15000</td></tr>
          <tr><td rowspan="3">CS1233</td><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td colspan="4">Total</td><td >&#8358;15000</td></tr>
          <tr><td rowspan="3">CS1232</td><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td><a href="products_admin.html">Apple</a></td><td>100</td><td>50</td><td>5000</td></tr>
          <tr><td colspan="4">Total</td><td>&#8358;15000</td></tr>
          <tr><td colspan="4">Grand Total</td><td>&#8358;45000</td></tr>
          
          
      </tbody>
    </table>

  </section>
  <footer class="background-color-primary">&copy; 2018</footer>


</body>
</html>

